{% extends 'base.html' %}
{% load static from static %}
{% block title %}
Product Advantages 
{% endblock %}

{% block content %}
<section class="bsb-hero-1 px-3 bsb-overlay bsb-hover-pull" style="background-image: url('../../static/image/banner_home.jpg'); background-repeat: no-repeat; background-size: 100%; width: 100%; height: 300px;" >
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6">
          <!-- <h2 class="display-3 fw-bold mb-3">HOME</h2> -->
          <!-- <p class="lead mb-5">Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins.</p> -->
          <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn bsb-btn-xl btn-light gap-3">Free Consultation</button>
            <button type="button" class="btn bsb-btn-xl btn-outline-light">Buy Credits</button>
          </div> -->
        </div>
      </div>
    </div>
</section>

<div class="container-fluid">
  <div class="row align-items-center text-center" style="height: 80px; background-color: #ff9900;">
    <h2><strong>Product Advantages</strong></h2>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center">
        <div class="col-12 col-lg-10 col-xl-8 ">
            <img src="{% static 'image/company/Advantages.png' %}" class="d-block mx-lg-auto img-fluid" alt="" width="800" height="800" loading="lazy">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <ul>
                <li class="h4" style="color: brown;"><strong>
                    Founded by the Cosen Mechatronics Cloud team, Mechalogix has a heritage of DNA in the band saw industry, CNC industry, and metalworking industry, and has a considerable understanding of the industry, close to customers, and easy to get started.
                </strong></li>
                <br>
                <p class="h6"><strong>
                    With over 40 years of experience and tens of thousands of band saws in operation all over the world, Mechalogix CPC continues to serve many customers with the philosophy of continuous innovation and quality first, and has a considerable degree of insight into the industry, and over the years the industry's blind spots, troubles, and pain points. The most convenient installation, high-precision measurement technology, user-friendly interface, easy-to-understand visualization information, and complete processing history information are all available to solve the problem, which greatly enhances industrial services and more convenient system management.
                </strong></p>
            </ul>

            <ul>
                <li class="h4" style="color: brown;"><strong>
                    Sales to 80 countries with more than 1,000 equipment network experience
                </strong></li>
                <br>
                <p class="h6"><strong>
                    With the band saw machine sales more than 80 countries, Europe and the United States all over the local distribution.
                </strong></p>
            </ul>

            <ul>
                <li class="h4" style="color: brown;"><strong>
                    Modular sensor planning
                </strong></li>
                <br>
                <p class="h6"><strong>
                    A series of sensor modules have been developed for different band saw models, which are easy to install, stable and quick to start.
                </strong></p>
            </ul>

            <ul>
                <li class="h4" style="color: brown;"><strong>
                    Single-unit to full-line plant network consulting services
                </strong></li>
                <br>
                <p class="h6"><strong>
                    Machalogix not only brings information integration system for sawing machines, but also provides data connection service for any CNC controllers, which can achieve whole-line and whole-plant networking, improve production transparency, make practical information available, track work orders more easily, and greatly improve management's production mastery and reduce management blind spots.
                </strong></p>
            </ul>

            <ul>
                <li class="h4" style="color: brown;"><strong>
                    Machalogix not only provides information services, but also offers suggestions to improve plant production.
                </strong></li>
                <br>
                <p class="h6"><strong>
                    Mahalogix band saw information integration system can be connected to the user's production and material management system, and can effectively calculate the production efficiency of each shift, use parameters, and track the progress of work orders in real-time.
                </strong></p>
            </ul>

            <ul>
                <li class="h4" style="color: brown;"><strong>
                    Pre-sales and after-sales complete services official website, online official, cloud platform, online shopping mall Detailed information, 24-hour real-time service
                </strong></li>
                <br>
                <p class="h6"><strong>
                    We provide multiple service platforms, online shopping mall, and the most complete technology services at any time.
                </strong></p>
            </ul>

            <ul>
                <li class="h4" style="color: brown;"><strong>
                    Quality assurance of pre-shipping testing service
                </strong></li>
                <br>
                <p class="h6"><strong>
                    Dedicated commissioner full inspection and perfect shipment inspection standard SOP, perfect workmanship quality first!
                </strong></p>
            </ul>

            <ul>
                <li class="h4" style="color: brown;"><strong>
                    Quality assurance of pre-shipping testing service
                </strong></li>
                <br>
                <p class="h6"><strong>
                    Dedicated commissioner full inspection and perfect shipment inspection standard SOP, perfect workmanship quality first!
                </strong></p>
            </ul>

            <ul>
                <li class="h4" style="color: brown;"><strong>
                    Online / Offline after-sales efficient repair services
                </strong></li>
                <br>
                <p class="h6"><strong>
                    Provide online intelligent customer service, guided click to find the answer to quickly solve the problem, but also online customer service registration to get the most immediate cross-regional support.
                </strong></p>
            </ul>


        </div>
    </div>
    <!-- <div class="row align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'image/company/company.png' %}" class="d-block mx-lg-auto img-fluid" alt="" width="400" height="400" loading="lazy">
        </div>

        <div class="col-lg-6">
            <p class="h4"><strong>
                Mechalogix Co., Ltd. was founded in 2017 and is dedicated to providing Industry 4.0 Cloud Internet services, specializing in research and development of information supply software services, data processing, product design industry, electronic component manufacturing, and numerous software to hardware products.
            </strong></p>
        </div>
    </div> -->
    
</div>
{% endblock %}